.git
.gitignore
.github
.venv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

models/**
!models/.gitkeep
outputs/
output/
log/
cache/
cache.json*
config.json
ui-config.json
params.txt
styles.csv
styles.csv.bak
sysinfo-*.json
trace.json

repositories/
node_modules/
test/test_outputs/
test/stdout.txt
test/stderr.txt
.coverage*
coverage.xml

webui-user.bat
webui-user.sh
webui.settings.bat
.env
.env.*
!.env.example

.idea
.vscode
.DS_Store
